<section class="py5">
  <div>
    <h2 class="sb-heading sb-heading--xxsmall text-upper text-bold mb2 color-textBlackSoft" tabindex="-1">Hours</h2>
    <hr class="sb-rule sb-rule--thin pb4">
    <ul class="schedule___1YDJx">
      <li class="scheduleItemHighlight___11MBC scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Today</span>
        <span class="scheduleHours___3MGfi">7:00 AM to 9:00 PM</span>
      </li>
      <li class="scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Tomorrow</span>
        <span class="scheduleHours___3MGfi">7:00 AM to 9:00 PM</span>
      </li>
      <li class="scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Monday</span>
        <span class="scheduleHours___3MGfi">6:00 AM to 9:00 PM</span>
      </li>
      <li class="scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Tuesday</span>
        <span class="scheduleHours___3MGfi">6:00 AM to 9:00 PM</span>
      </li>
      <li class="scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Wednesday</span>
        <span class="scheduleHours___3MGfi">6:00 AM to 9:00 PM</span>
      </li>
      <li class="scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Thursday</span>
        <span class="scheduleHours___3MGfi">6:00 AM to 9:00 PM</span>
      </li>
      <li class="scheduleItem___3FoQR">
        <span class="scheduleDay___3gDDA">Friday</span>
        <span class="scheduleHours___3MGfi">6:00 AM to 9:00 PM</span>
      </li>
    </ul>
  </div>
</section>
